<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Task_1.2App" Language="1033" Version="1.0.0.0" Manufacturer="SamB-102560056" UpgradeCode="B1DBFC0D-7ADB-4399-AA84-CD5B0872CA21">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Task_1.2App" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Task_1.2App" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="30E8A829-3B35-4F97-A90D-A05813795AA8">
				<File Id="Task_1.2AppExe" Source="$(var.Task 1.2.TargetPath)" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>