<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ClickInstaller" Language="1033" Version="1.0.0.0" Manufacturer="SamB-102560056" UpgradeCode="dab2dc56-372b-4c09-836d-3c1cb90e221c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="ClickInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ClickInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="cmpExe" Guid="350275C9-CE2A-492B-B846-C67F12BFCCF9">
				<File Source="..\Task 1.3\bin\Debug\net10.0\Task 1.3.exe" KeyPath="yes" />
			</Component>
			<Component Id="cmpDll" Guid="52B55C38-039E-434A-899C-1C02DB4E4067">
				<File Source="..\Task 1.3\bin\Debug\net10.0\Task 1.3.dll" KeyPath="yes" />
			</Component>
			<Component Id="cmpRuntimeConfig" Guid="802C4D0F-A6CE-45AD-880D-9EEF55D75B7D">
				<File Source="..\Task 1.3\bin\Debug\net10.0\Task 1.3.runtimeconfig.json" KeyPath="yes" />
			</Component>
			<Component Id="cmpDeps" Guid="D6F2D8FB-A8F0-4A46-B3B3-05B479F9C77A">
				<File Source="..\Task 1.3\bin\Debug\net10.0\Task 1.3.deps.json" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
